h1 {
    background-color: teal;
    color:white;
    width: 100%;
    text-align: center;
    position: relative;
    height: 45px;
    top:0;

}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-image
}
 row1{
     /* Do you need this??? */
 }

.navfloat-left{
    float: left;
    list-style-type: none;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #666666;
    color: white;
    position: fixed;
    height: 35px;
    bottom: 0;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-width: .5em;
}
h2 {
    border-bottom: 3em;
    color: teal;
}
